# Project Package Managers (NPM and Bower)
node_modules
client/vendors


# Dest files (no need to push them on git)
client/build
backend/public
#client/test/lib # Left this in git so I don't have to use custom gulp for deploy


# NPM stuff
npm-debug.log
